server {
{{ listen_http_directives }}
    server_name {{ server_names }};
    return 301 https://$host$request_uri;
}

server {
{{ listen_https_directives }}
    http2 on;
    server_name {{ server_names }};

    ssl_certificate {{ ssl_cert_path }};
    ssl_certificate_key {{ ssl_key_path }};

    root {{ root }};
    index index.html;

    access_log {{ access_log }};
    error_log {{ error_log }};

    location / {
        try_files $uri $uri/ /index.html;
    }
}
